# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
.venv/

# MLflow local tracking
mlruns/
mlflow.db

# Generated prediction logs
monitoring/predictions.csv

# Python test/cache
.pytest_cache/
.coverage

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db